.table-area{
    background-color: #a4a4a4;
    width: 50%;
    border-radius: 10PX;
    margin-top: 20px;
    padding: 10px;
   
}
table{
     border-collapse: collapse;
}

td , th{
    border: 1px solid black;
    padding: 4px;
   
}
